<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome Email</title>
        <link rel="stylesheet" type="text/css" href="../resources/email.css" /> 
    </head>
    <body>
        <div class="mainCard">
            <a href="https://playbingo.gg">
                <img height="100px" src="https://playbingo.gg/logo.png" />
            </a>
            <h2>Hey there, {{username}}</h2>
            <p>
                You can reset your password with the link below. Didn't request
                a password reset? No worries, you can safely ignore this email,
                someone likely made a mistake when trying to regain access to
                their own account.
            </p>
            <div>
                <a href={{resetLink}}>Click here to reset your password.</a>
                <div class="smallText" style="padding-top: 4px;">
                    Link missing or not working? Copy paste this into your
                    browser's URL bar: {{resetLink}}
                </div>
            </div>
            <p>
                The reset link can only be used once and expires in one hour.
            </p>
        </div>
    </body>
</html>