@import 'tailwindcss';
@import '@heroui/styles';

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
    /* Theme Colors (Light Mode) */
    --accent: oklch(67.12% 0.2125 306.32);
    --accent-foreground: oklch(15% 0.03 306.32);
    --background: oklch(97.02% 0 306.32);
    --border: oklch(90% 0 306.32);
    --danger: oklch(65.32% 0.2328 32.04);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94% 0 306.32);
    --default-foreground: oklch(21.03% 0.0059 306.32);
    --field-background: oklch(100% 0 306.32);
    --field-foreground: oklch(21.03% 0 306.32);
    --field-placeholder: oklch(55.17% 0 306.32);
    --focus: oklch(67.12% 0.2125 306.32);
    --foreground: oklch(21.03% 0 306.32);
    --muted: oklch(55.17% 0 306.32);
    --overlay: oklch(100% 0 306.32);
    --overlay-foreground: oklch(21.03% 0 306.32);
    --scrollbar: oklch(87.1% 0 306.32);
    --segment: oklch(100% 0 306.32);
    --segment-foreground: oklch(21.03% 0 306.32);
    --separator: oklch(92% 0 306.32);
    --success: oklch(73.29% 0.1935 157.11);
    --success-foreground: oklch(21.03% 0.0059 157.11);
    --surface: oklch(100% 0 306.32);
    --surface-foreground: oklch(21.03% 0 306.32);
    --surface-secondary: oklch(95.24% 0 306.32);
    --surface-secondary-foreground: oklch(21.03% 0 306.32);
    --surface-tertiary: oklch(93.73% 0 306.32);
    --surface-tertiary-foreground: oklch(21.03% 0 306.32);
    --warning: oklch(78.19% 0.1585 78.63);
    --warning-foreground: oklch(21.03% 0.0059 78.63);

    /* Border Radius */
    --radius: 0.5rem;
    --field-radius: 0.5rem;

    /* Font Family */
    /* Make sure to load Inter font in your app */
    --font-sans: var(--font-inter);
}

.dark,
[data-theme='dark'] {
    color-scheme: dark;
    /* Theme Colors (Dark Mode) */
    --accent: oklch(67.12% 0.2125 306.32);
    --accent-foreground: oklch(15% 0.03 306.32);
    --background: oklch(12% 0 306.32);
    --border: oklch(28% 0 306.32);
    --danger: oklch(59.4% 0.1967 30.93);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.4% 0 306.32);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0 306.32);
    --field-foreground: oklch(99.11% 0 306.32);
    --field-placeholder: oklch(70.5% 0 306.32);
    --focus: oklch(67.12% 0.2125 306.32);
    --foreground: oklch(99.11% 0 306.32);
    --muted: oklch(70.5% 0 306.32);
    --overlay: oklch(21.03% 0 306.32);
    --overlay-foreground: oklch(99.11% 0 306.32);
    --scrollbar: oklch(70.5% 0 306.32);
    --segment: oklch(39.64% 0 306.32);
    --segment-foreground: oklch(99.11% 0 306.32);
    --separator: oklch(25% 0 306.32);
    --success: oklch(73.29% 0.1935 157.11);
    --success-foreground: oklch(21.03% 0.0059 157.11);
    --surface: oklch(21.03% 0 306.32);
    --surface-foreground: oklch(99.11% 0 306.32);
    --surface-secondary: oklch(25.7% 0 306.32);
    --surface-secondary-foreground: oklch(99.11% 0 306.32);
    --surface-tertiary: oklch(27.21% 0 306.32);
    --surface-tertiary-foreground: oklch(99.11% 0 306.32);
    --warning: oklch(82.03% 0.1388 82.64);
    --warning-foreground: oklch(21.03% 0.0059 82.64);
}

@keyframes slidein {
    from {
        translate: 0 10%;
        /* scale: 200% 1; */
        opacity: 0;
    }

    to {
        translate: 0 0;
        /* scale: 100% 1; */
        opacity: 1;
    }
}

@keyframes fogReveal {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(6px) brightness(0.8);
    }

    50% {
        opacity: 0.7;
        transform: translateY(-10%) scale(1.1);
        filter: blur(10px) brightness(1.2);
    }

    100% {
        opacity: 0;
        transform: translateY(-25%) scale(1.25);
        filter: blur(14px) brightness(1.5);
    }
}

html,
body {
    height: 100%;
    max-height: 100%;
}
